.card {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  padding: 2px 0;
  border: 1px solid black;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transition: all 0.5s;
  cursor: pointer;
}

.card:hover {
  border: 1px solid red;
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.2);
  transform: scale(1.025);
}

.card-number {
  position: absolute;
  top: 5px;
  left: 5px;
  padding: 1px 4px;
  background-color: rgba(107, 107, 107, 0.25);
  border-radius: 20px;
}

.card-image {
  width: 98%;
  border-bottom: 1px solid black;
  border-radius: 4px;
}

.card-title {
  font-size: 20px;
  font-weight: bold;
}
